{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="index-container" class="pt-3">
    <div id="index-text-div" class="text-center col-md-7 h-75 mx-auto mt-5 p-md-2 p-xl-5">
        <h4>Who are we?</h4>
        <p class="h5">Surprise tours is the perfect option for travelers who don't know exactly where to go and want to
            travel with a bit of mistery. With us, you know where you need to land and where you'll go (more or less).
            But there is still open space for surprises by not knowing exactly where you'll go or what you'll see!</p>
        <a href="{% url 'continents' %}" class="btn rounded" id="home-button">Browse through our tours</a>
    </div>
</div>
{% endblock %}