{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="index-container" class="container">
<div id="index-text-div" class="text-center w-75 h-75 mx-auto mt-5 p-2">
<h4>Who are we?</h4>
<p class="">Surprise tours is the perfect option for travellers who don't know exactly where to go and want to travel with a bit of mistery. With us, you know where you need to land and where you'll go (more or less). But there is still open space for surprises by not knowing exactly where you'll go or what you'll see!</p>
<a href="" class="btn">Browse through our tours</a>
</div>
</div>
{% endblock %}