{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-5">
    <h4>Enjoyed your trip?</h4>
    <h5>Leave a review!</h5>
    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        {% if field.name == 'review' %}
        <div class="row px-2">
            <p>{{ field.label }}:</p>
            <textarea name="{{ field.html_name }}"
            style="height: 150px;"></textarea>
            <hr class="w-100">
        </div>
        {% else %}
        {{ field | as_crispy_field }}
        {% endif %}
        {% endfor %}
        <button type="submit" class="d-flex justify-content-center">Post review</button>
    </form>
</div>
{% endblock %}