{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>ORDER CONFIRMED</h1>
<p>Thanks for travelling with us! Your order has now been confirmed!
<div class="mt-3">
    <p>Thank you for shopping with us, you will shortly receive an email with more instructions on your reservation
        and 2 weeks before your trip you will receive another email with detailed instructions on preparations for your
        trip. Please remember that the rest of the payment (90%) is made in person upon
        meeting your guide.</p>
    <p>Please remember to always travel safe and, most importantly of all, have fun!</p>
</div>
{% endblock %}