{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>ORDER CONFIRMED</h1>
    <p>Thanks for travelling with us! Your order number is: <strong>{{ order }}</strong></p>
    <div class="col-6 border border-black p-2">
        <p>ORDER DETAILS:</p>
        <ul>
            <li>Customer Details:</li>
            <ul>
                <li><strong>Name:</strong> {{ order.full_name }}</li>
                <li><strong>Email:</strong> {{ order.email }}</li>
                <li><strong>Phone Number:</strong> {{ order.phone_number }}</li>
                <li><strong>Nationality:</strong> {{ order.nationality }}</li>
                <li><strong>Postal Address:</strong> {{ order.street_address1 }}{% if street_address2 %}{{
                    order.street_address2 }}{% endif %}. {{ order.town_or_city }}, {{order.postcode}}. {{order.country}}
                </li>
            </ul>
            <li>Purchase Details:</li>
            <ul>{% for tour in order.lineitems.all %}
                <li>{{ tour.quantity}} ticket{% if tour.quantity > 1 %}s{% endif %} for {{ tour.tour }} 
                    (US ${{tour.item_total }})</li>
                {% endfor %}
            </ul>
        </ul>
        <p><strong>TOTAL PAYMENT:</strong> US ${{ order.order_total }} (10% deposit)</p>
    </div>
    <div class="mt-3">
    <p>Thank you for shopping with us, you will shortly receive an email with more instructions on your reservation and
        2 weeks before your trip you will receive another email with detailed instructions on preparations for your
        trip. Please remember that the rest of the payment (US ${{ order.upon_arrival }}) is made in person upon meeting your guide.</p>
    <p>Please remember to always travel safe and, most importantly of all, have fun!</p>
</div>
</div>
{% endblock %}