{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h4 class="mt-3">CHECK OUT</h4>
    <div class="row">
        <!-- Checkout Form -->
        <div class="col-6">
            <h4 class="mt-4">PAYMENT:</h4>
            <form id="payment-form" action="{% url 'checkout' %}" method="POST">
                {% csrf_token %}
                <fieldset>
                    <legend>Buyer Details:</legend>
                    {{ form.full_name|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.phone_number|as_crispy_field }}
                    {{ form.nationality|as_crispy_field }}
                    {{ form.street_address1|as_crispy_field }}
                    {{ form.street_address2|as_crispy_field }}
                    {{ form.town_or_city|as_crispy_field }}
                    {{ form.postcode|as_crispy_field }}
                    {{ form.country|as_crispy_field }}
                    {{ form.county|as_crispy_field }}
                </fieldset>
                <div class="form-check form-check-inline float-right mr-0">
                    {% if user.is_authenticated %}
                    <label class="form-check-label" for="id-save-info">Save this delivery information for my next
                        purchase</label>
                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info"
                        checked>
                    {% else %}
                    <label class="form-check-label" for="id-save-info">
                        <a class="text-decoration-none" href="{% url 'account_signup' %}">Register</a> or
                        <a class="text-decoration-none" href="{% url 'account_login' %}">log in</a> to save this
                        information for the next time!
                    </label>
                    {% endif %}
                </div>
                <hr>
                <fieldset>
                    <legend>Payment Details:</legend>
                    <div id="card-element"></div>
                    <div id="card-errors" class="text-danger"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <p id="charge-quantity" class="text-danger">*You will now be charged {{ total|floatformat:2 }}€</p>
                <a class="btn bg-black text-light rounded p-2 text-decoration-none checkout-btn"
                    href="{% url 'bag' %}">Adjust bag</a>
                <button type="submit" id="submit-button" class="btn bg-black text-light rounded p-2 checkout-btn">
                    Complete Order
                </button>
            </form>
        </div>

        <div class="col-5 mt-4">
            <h4>PURCHASE:</h4>

            {% for tour in bag_items %}

            <div class="row border border-dark mb-2">
                <div class="col-md-8 my-4">
                    <p class="text-uppercase mb-0"><strong>{{ tour.tour.length }} nights in
                            {{tour.tour.location}}</strong></p>
                    <p class="text-uppercase mb-0">{{ tour.tour.start }} - {{ tour.tour.end }}</p>
                </div>
                <div class="col-md-4 my-auto">
                    <p class="py-4 mb-0 d-xl-none">x{{ tour.quantity }} = {{ tour.tour_total|floatformat:2 }}€</p>
                    <h5 class="py-4 mb-0 d-none d-xl-block">x{{ tour.quantity }} = {{ tour.tour_total|floatformat:2 }}€</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}

{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe_elements.js' %}"></script>

{% endblock %}