@import url('https://fonts.googleapis.com/css2?family=Allan&family=Dancing+Script:wght@700&display=swap');

header {    
    font-family: 'Dancing Script', cursive, sans-serif;
}

#block-content { 
    font-family: 'Allan', cursive;
}

footer {    
    font-family: 'Allan', cursive;
}

#index-container {
    height: 50vh;
    background: url('/media/index_bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

#block-content {
    min-height: 50vh;
}

#index-text-div {
    background-color: rgba(228, 176, 33, 0.9);
}

.continent-div {
    height: 200px;
    padding-top: 80px;
}

#anywhere-div {
    background: url('/media/world.png') no-repeat center center;
    background-size: cover;
}

.tour-img {
    height: 250px;
}

.tour-characteristic {
    position: absolute;
    bottom: 40%;
    right: 0;
}

.container-div {
    min-height: 50vh;
}

/* Checkout form */
.checkout-form {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin: 80px 0px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }