body {
    background: url('/media/index_bg.png') no-repeat center center fixed;
    background-size: cover;
}

#index-container {
    height: 50vh;
}

#index-text-div {
    background-color: rgba(128, 128, 128, 0.5);
}

.continent-div {
    height: 200px;
    padding-top: 80px;
}

#anywhere-div {
    background: url('/media/world.png') no-repeat center center;
    background-size: cover;
}