{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h4 class="text-center p-3">Add a Tour</h4>
    <div class="text-center">
        <form class="d-flex justify-content-around flex-wrap" action="{% url 'add_tour' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name == 'start' or field.name == 'end' %}
            <div class="row col-md-4 px-2 mb-1 mb-md-5">
                <p>{{ field.label }}:</p>
                <p>
                    <input type="date" name="{{ field.html_name }}" id="{{ field.id_for_label }}">
                </p>
            </div>
            {% elif field.name == 'description' %}
            <div class="row col-md-8 col-lg-4 px-2 mb-5">
                <p>{{ field.label }}:</p>
                <textarea name="{{ field.html_name }}"
                    style="height: 150px;">{% if field.value %}{{ field.value }} {% else %} Description {% endif %} </textarea>
                {% else %}
                <div class="row col-md-4 px-2 mb-1 mb-md-5">
                    <p>{{ field.label }}:</p>
                    <p>{{ field }}</p>
                </div>
                {% endif %}
                {% endfor %}
                <div class="mt-3">
                    <button type="submit">Add Tour</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}