{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h4>Where do you want to go?</h4>
    <div class="row d-flex justify-content-around">
        {% for continent in continents %}
        <div class="continent-div m-3 col-md-3" style="background-image: url('{{ continent.image.url }}'); background-repeat: no-repeat; background-size:
        cover">
            <a href="{% url 'tours' %}?continent={{continent.continent}}" class="text-decoration-none text-uppercase">
                <h4 class="text-center text-light bg-gradient bg-success"><strong>{{continent}}</strong></h4>
            </a>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="row d-flex justify-content-around mb-3">
            {% endif %}
            {% endfor %}
            <div class="continent-div m-3" id="anywhere-div">
                <a href="{% url 'tours' %}" class="my-3 w-75 text-decoration-none" id="anywhere-div">
                    <h4 class="text-light text-center bg-success"><strong>ANYWHERE</strong></h4>
                </a>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}