{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h4>Where do you want to go?</h4>
    <div class="row d-flex justify-content-around">
        {% for continent in continents %}
        <a href="#"
            style="background-image: url('{{ continent.image.url }}'); background-repeat: no-repeat; background-size: cover;"
            class="text-decoration-none continent-div m-3 w-25 text-uppercase">
            <h4 class="text-center text-light bg-gradient bg-success"><strong>{{continent}}</strong></h4>
            {% endfor %}
            <a class="continent-div my-3 w-75 text-decoration-none" id="anywhere-div">
                <h4 class="text-light text-center bg-success"><strong>ANYWHERE</strong></h4>
            </a>
    </div>
</div>
{% endblock %}