{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h4 class="text-center p-3">Edit {{ tour }} tour</h4>
    <div class="text-center">
        <form class="d-flex justify-content-around flex-wrap" action="{% url 'edit_tour' tour.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            {% if field.name == 'start' or field.name == 'end' %}
            <div class="col-md-4 col-lg-4 px-2 mb-5 mt-3 my-md-0 mb-md-5">
                <p>{{ field.label }}:</p>
                <input class="col-12 col-lg-7" type="date" name="{{ field.html_name }}"
                    value="{{ field.value|date:'Y-m-d' }}">
            </div>
            {% elif field.name == 'description' %}
            <div class="row col-12 px-2 mb-3 mb-md-5">
                <p>{{ field.label }}:</p>
                <textarea name="{{ field.html_name }}"
                    style="height: 150px;">{% if field.value %}{{ field.value }} {% else %} Description {% endif %} </textarea>
                <hr class="w-100">
            </div>
            <br>
            {% else %}
            <div class="row col-md-4 px-2 mb-3 mb-md-5">
                <p class="mb-0">{{ field | as_crispy_field }}</p>
            </div>
            {% endif %}
            {% endfor %}
            <div>
                <button class="mt-3" type="submit"> Edit Tour</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}