{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <h1 class="col-4">{{ tour }}</h1>
        <span class="col-4">
            <hr>
        </span>
        <h1 class="col-4 text-end">{{ tour.rating }}/10</h1>
        <hr>
    </div>
    <div class="row d-flex">
        <div class="col-md-7 pt-md-5">
            <h5>START/END: {{ tour.location }}</h5>
            <h5>DATES: {{ tour.start }} - {{ tour.end }}</h5>
            <h5>SLOTS LEFT: {{ tour.slots_left }}/{{ tour.slots }}</h5>
            <p class="border border-black p-2">{{ tour.description }}</p>
            <h5 class="text-end"><span id="tour_price">{{ tour.price|floatformat:2 }}</span>€/pp</h5>
            <hr>
            <div class="col-xl-8 mb-3 mx-auto">
                <h5 class="mt-md-3 text-center">BOOK YOUR SPOT!</h5>

                <form action="{% url 'add_to_bag' tour.id %}" method="POST">
                    {% csrf_token %}
                    <div class="border border-black p-2">
                        <h5>{{ tour }} x
                            <input type="text" readonly class="border-0 w-25 text-dark" id="tour_quantity"
                                name="tour_quantity" value="1">
                            <span class="float-end">
                                (<span id="added_price">{{ tour.price|floatformat:2 }}</span>€)</span>
                        </h5>
                        <div class="row d-flex justify-content-around">
                            <button type="button" id="add_passenger" class="btn bg-info mx-2 col-5 rounded">Add a
                                passenger</button>
                            <button type="button" id="remove_passenger" class="btn bg-info mx-2 col-5 rounded">Remove a
                                passenger</button>
                        </div>
                        <div class="row">
                            <button id="add_to_bag_btn" type="submit" class="btn bg-success mt-3 mx-auto col-5">Add to bag</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <aside class="col-md-5">
            {% if tour.image_1 %}
            <img class="col-12 tour-img" src="{{tour.image_1.url}}" alt="Nice photograph">
            {% else %}
            <img class="col-12 tour-img" src="{{ MEDIA_URL }}food_img.jpg" alt="International food">
            {% endif %}
            <br>
            {% if tour.image_2 %}
            <img class="col-12 tour-img" src="{{tour.image_2.url}}" alt="Nice photograph">
            {% else %}
            <img class="col-12 tour-img" src="{{ MEDIA_URL }}suitcase.png" alt="Woman with suitcase">
            {% endif %} <br>
            {% if tour.image_3 %}
            <img class="col-12 tour-img" src="{{tour.image_3.url}}" alt="Nice photograph">
            {% else %}
            <img class="col-12 tour-img" src="{{ MEDIA_URL }}plane.jpg" alt="Airplane Wing">
            {% endif %}
        </aside>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

<script type="text/javascript">
    document.getElementById("add_passenger").addEventListener("click", addPassenger);
    document.getElementById("remove_passenger").addEventListener("click", removePassenger);

    passenger_quantity = 1

    // Add a passenger to the tour detail

    function addPassenger() {
        passenger_quantity += 1
        let passengers = document.getElementById("tour_quantity");
        passengers.value = `${passenger_quantity}`;
        updatePrice();
    }

    // Remove a passenger from the tour detail
    function removePassenger() {
        passenger_quantity -= 1
        passengers = document.getElementById("tour_quantity");
        removePassenger = document.getElementById('remove_passenger');
        addToBagBtn = document.getElementById('add_to_bag_btn');
        

        passengers.value = `${passenger_quantity}`;
        updatePrice();

        if (passenger_quantity == 0) {
            removePassenger.disabled = true;
            addToBagBtn.disabled = true;
        }
    }

    // Change product price depending on number of passengers
    function updatePrice() {
        let tour_price = document.getElementById("tour_price").innerText;
        let price = document.getElementById("added_price");
        addToBagBtn = document.getElementById('add_to_bag_btn');


        let total_price = passenger_quantity * tour_price;
        price.innerHTML = parseFloat(total_price).toFixed(2);
        removePassenger.disabled = false;
        addToBagBtn.disabled = false;
    }
</script>

{% endblock %}