{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="sort-select-wrapper w-50">
    <select id="sort-selector"
        class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
        <option value="reset" {% if current_sorting=='None_None' %}selected{% endif %}>Sort by...</option>
        <option value="price_asc" {% if current_sorting=='price_asc' %}selected{% endif %}>Price (low to high)</option>
        <option value="price_desc" {% if current_sorting=='price_desc' %}selected{% endif %}>Price (high to low)
        </option>
        <option value="rating_asc" {% if current_sorting=='rating_asc' %}selected{% endif %}>Rating (low to high)
        </option>
        <option value="rating_desc" {% if current_sorting=='rating_desc' %}selected{% endif %}>Rating (high to low)
        </option>
        <option value="name_asc" {% if current_sorting=='name_asc' %}selected{% endif %}>Name (A-Z)</option>
        <option value="name_desc" {% if current_sorting=='name_desc' %}selected{% endif %}>Name (Z-A)</option>
        <option value="length_asc" {% if current_sorting=='length_asc' %}selected{% endif %}>Length of Stay (less to
            more)</option>
        <option value="length_desc" {% if current_sorting=='length_desc' %}selected{% endif %}>Length of Stay (more to
            less)</option>

    </select>
</div>

<div class="container">
    {% if current_continent %}
    {% for continent in current_continent %}
    <h4 class="text-uppercase mt-3">{{ continent }}</h4>
    {% endfor %}
    {% else %}
    <h4 class="mt-3">EVERYWHERE</h4>
    {% endif %}
    <div class="row d-flex justify-content-around">
        {% for tour in tours %}
        <div class="card mb-2" style="width: 18rem;">
            <img src="{{ tour.image_1.url }}" class="card-img-top tour-img pt-1" alt="Tour Image">
            <div class="card-body">
                <h5 class="card-title">{{ tour }}</h5>
                <p class="card-text">{{ tour.start_date}} - {{ tour.end_date }}</p>
                <p class="card-text text-end h5">{{ tour.price|floatformat:2 }}€/pp</p>
                <a href="{% url 'tour_detail' tour.id %}" class="btn btn-primary">Check it out!</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}