{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mt-3">
        <h1 class="col-4">{{ tour }}</h1>
        <span class="col-4">
            <hr>
        </span>
        <h1 class="col-4 text-end">{{ tour.rating }}/10</h1>
    </div>
    <div class="row">
        <aside class="col-5">
            <img class="col-12 tour-img" src="{{tour.image_1.url}}" alt="Nice photograph">
            <br>
            <img class="col-12 tour-img" src="{{tour.image_2.url}}" alt="Nice photograph">
            <br>
            <img class="col-12 tour-img" src="{{tour.image_3.url}}" alt="Nice photograph">
        </aside>
        <div class="col-7 pt-5">
            <h5>START/END: {{ tour.location }}</h5>
            <h5>DATES: {{ tour.start_date }} - {{ tour.end_date }}</h5>
            <h5>SLOTS LEFT: {{ tour.slots_left }}/{{ tour.slots }}</h5>
            <p class="border border-black p-2">{{ tour.description }}</p>
            <h5 class="text-end">{{ tour.price }}€/pp</h5>
            <hr>
            <h5>BOOK YOUR SPOT!</h5>
            <div class="border border-black p-4 col-6">
                <h5>{{ tour }} x3 (779.97€)</h5>
                <div class="row d-flex justify-content-around">
                    <button class="btn bg-info mx-2 col-5 rounded">Add a passenger</button>
                    <button class="btn bg-info mx-2 col-5 rounded">Remove a passenger</button>
                </div>
                <div class="row">
                    <button class="btn bg-success mt-3 mx-auto col-5">Add to bag</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}