{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container row mt-3">
    <div class="col-6 ms-5">
    <h4>CONTACT DETAILS</h4>
    <ul class="border border-black py-2 px-4">
        <li class="py-2"><strong>Telephone number:</strong> 1800 254 887</li>
        <li class="py-2"><strong>Email:</strong> surprisetours@surprisetours.com</li>
        <li class="py-2"><strong>Working Hours:</strong> Monday-Saturday: 9am-6pm</li>
        <li class="py-2"><strong>Location:</strong> 4555 S Western Blvd, Chicago, IL 60609, United States</li>
    </ul>
</div>
<div class="col-5 ms-5">
    <h4>OR MESSAGE US:</h4>
</div>
</div>
{% endblock %}